@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather");
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
/* line 5, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 4, ../../sass/_base.scss */
body {
  text-align: center; }

/* line 8, ../../sass/_base.scss */
#logo {
  background-color: #cc3333;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media only screen and (min-width: 40.063em) {
    /* line 8, ../../sass/_base.scss */
    #logo {
      padding-top: 20px;
      padding-bottom: 20px; } }

/* line 21, ../../sass/_base.scss */
#logo img {
  width: 100%;
  margin: 0 auto;
  display: block; }
  @media only screen and (min-width: 40.063em) {
    /* line 21, ../../sass/_base.scss */
    #logo img {
      width: 60%;
      margin: 0 auto;
      display: block; } }

/* line 33, ../../sass/_base.scss */
.contact {
  position: absolute;
  top: 10px;
  float: right;
  margin-right: 10px;
  color: white; }

/* line 40, ../../sass/_base.scss */
.contact:hover {
  color: white; }

@media only screen and (min-width: 64.063em) {
  /* line 43, ../../sass/_base.scss */
  .link-padding {
    padding-right: 50px; } }

/* line 48, ../../sass/_base.scss */
.title-box {
  padding-top: 10px;
  width: 100%;
  background-color: white;
  text-align: center; }

/* line 54, ../../sass/_base.scss */
.slogan {
  margin: 0 auto;
  width: 400px;
  color: #666666; }

/* line 59, ../../sass/_base.scss */
#pre-register {
  margin-top: 5px; }

/* line 62, ../../sass/_base.scss */
.hero-wrap {
  position: relative;
  overflow: hidden;
  height: 50%;
  background-color: white; }

/* line 68, ../../sass/_base.scss */
.hero {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%); }

/* line 74, ../../sass/_base.scss */
.icons {
  height: 150px;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px; }

/* line 80, ../../sass/_base.scss */
.icon-row {
  position: relative;
  top: -75px; }

/* line 84, ../../sass/_base.scss */
.icon-heading {
  color: #cc3333; }

/* line 87, ../../sass/_base.scss */
.centered {
  text-align: center; }

/* line 90, ../../sass/_base.scss */
.down {
  margin-top: 28px; }

/* line 93, ../../sass/_base.scss */
.down-less {
  margin-top: 5px; }

/* line 96, ../../sass/_base.scss */
.love {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px; }
  @media only screen and (min-width: 64.063em) {
    /* line 96, ../../sass/_base.scss */
    .love {
      width: 70%; } }

/* line 104, ../../sass/_base.scss */
.testemonies-wrap {
  background: url(https://download.unsplash.com/photo-1424746219973-8fe3bd07d8e3) no-repeat;
  width: 100%;
  height: 60%;
  background-size: cover;
  overflow: hidden;
  background-position: bottom;
  z-index: 10; }

/* line 113, ../../sass/_base.scss */
.slides {
  z-index: -1;
  color: white;
  margin: 0 auto;
  padding-top: 10%; }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    /* line 113, ../../sass/_base.scss */
    .slides {
      padding-top: 15%;
      width: 80%; } }
  @media only screen and (min-width: 64.063em) {
    /* line 113, ../../sass/_base.scss */
    .slides {
      padding-top: 10%;
      width: 60%; } }

/* line 128, ../../sass/_base.scss */
#share {
  position: relative;
  bottom: -50px;
  z-index: 100; }

/* line 133, ../../sass/_base.scss */
.footer {
  margin-top: -5px;
  height: 60px;
  background-color: #cc3333;
  text-align: center; }

/* line 139, ../../sass/_base.scss */
.contact-info {
  padding-top: 20px;
  color: white; }

/* line 146, ../../sass/_base.scss */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

/* line 162, ../../sass/_base.scss */
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px); }
